.usersContainer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.searchbar{
    display: flex;
    justify-content: center;
    margin-top: 2%;    
}
.searchbar input{
    border-radius: 15px;
    font: normal normal bold 16px/21px Mulish;
    letter-spacing: 0.02px;
    color: #FFFFFFB3;
    opacity: 1;
    opacity: 0.4;
    text-align: center;
    border: 1px solid #595959;
    box-shadow: inset 0px 4px 0px #00000040;
    mix-blend-mode: normal;
    background: #5E5E5E82 0% 0% no-repeat padding-box;
    height: 5vh;
    width: 30vw;
}
.cardscontainer{
    height: 52vh;
    overflow-y: auto;
}

.id{
    color: white;
    font-weight: 200;
}
.name{
    color: white;
}
.DOB{
    color: white;
}
.Role{
    color: white;
}
.id span{
    color :white;
    font-weight: 400;
}
.name span{
    color: white;
    font-weight: 700;
}
.DOB span{
    color: gold;
    font-weight: 500;
}
.Role span{
    color: green;
    font-weight: 500;
}
.even {
    margin-right: 2%;
    text-align: left;
    background: rgb(33, 33, 32);
    width: 70%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 2%;
}

.even p{
    margin-left: 5%;
}
.odd p{
    margin-left: 5%;
}
.odd {
    background: rgb(33, 33, 32);
    width: 70%;
    margin-left: 5%;
    text-align: left;
    
    display: flex;
    
    justify-content: space-between;
    border-radius: 15px;  
    margin-top: 2%;
}
.cornernumber p{
    color: white;
}

.odd .cornernumber{
    margin-top: 2%;
    margin-right: 7%;
}
.even .cornernumber{
    margin-right: 7%;
    margin-top: 2%;
    
}

.odd .cornernumber p{
    width: 120%;
 
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}
.even .cornernumber p{
    width: 120%;
    
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}
.userdetailscontainer {
    margin-left: 5% ;
    width: 55vw;
}


@media screen and (max-width: 800px) {
    .cardscontainer{
    height: 55vh;
    overflow-y: auto;
}


    .searchbar{
    display: flex;
    justify-content: center;
    margin-top: 4%;    
}
.searchbar input{
    border-radius: 15px;
    font: normal normal bold 16px/21px Mulish;
    letter-spacing: 0.02px;
    color: #FFFFFFB3;
    opacity: 1;
    opacity: 0.4;
    text-align: center;
    border: 1px solid #595959;
    box-shadow: inset 0px 4px 0px #00000040;
    mix-blend-mode: normal;
    background: #5E5E5E82 0% 0% no-repeat padding-box;
    height: 5vh;
    width: 70vw;
}

}